<html ng-app="listaTelefonica">
	<head>
		<meta charset="UTF-8">
		<title>Lista Telefonica</title>
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
		<style>
			.jumbotron {
				width: 600px;
				text-align: center;
				margin-left: auto;
				margin-right: auto;
				margin-top: 20px;
			}
			.table{
				margin-top: 20px;
			}
			.form-control {
				margin-bottom: 5px;
			}
			.selecionado {
				background-color: yellow;
			}
			.negrito {
				font-weight: bold;
			}
		</style>
		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular/angular-messages.js"></script>
		<script src="lib/angular/angular-locale_pt-br.js"></script>
		<script>
			angular.module("listaTelefonica", ['ngMessages']);
			angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope, $filter){
				$scope.app = "Lista Telefonica";
				$scope.contatos = [
					{nome: $filter('uppercase')("Pedro"), telefone: "999998888", data: new Date(), cor: "blue"},
					{nome: "Ana", telefone: "999998888", data: new Date(), cor: "yellow"},
					{nome: "Maria", telefone: "999998888", data: new Date(), cor: "red"}
				];
				$scope.operadoras = [
					{nome: "Oi", codigo: 14, categoria: "Celular", preco: 2},
					{nome: "Vivo", codigo: 15, categoria: "Celular", preco: 1},
					{nome: "Tim", codigo: 41, categoria: "Celular", preco: 3},
					{nome: "GVT", codigo: 25, categoria: "Fixo", preco: 1},
					{nome: "GVT2", codigo: 21, categoria: "Fixo", preco: 2},
				];
				$scope.adicionarContato = function (contato) {
					$scope.contatos.push(angular.copy(contato));
					delete $scope.contato
					$scope.contatoForm.$setPristine();
				};
				$scope.apagarContatos = function(contatos){
					$scope.contatos = contatos.filter(function(contato){
						if(!contato.selecionado) return contato;
					});
				};
				$scope.isContatoSelecionado = function(contatos){
					return contatos.some(function(contato){
						return contato.selecionado;
					});
				};
				$scope.ordenarPor = function(campo){
					$scope.criterioDeOrdenacao = campo;
					$scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
				};
			});
		</script>
	</head>
	<body ng-controller="listaTelefonicaCtrl">
		<div class="jumbotron">
			<!--<h4 ng-bind="app"></h4> -->
			<h3>{{app}}</h3>
			<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você esta buscando?" />
			<table ng-show="contatos.length > 0" class="table">
				<tr>
					<th></th>
					<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
					<th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
					<th>Operadora</th>
					<th>Date</th>
					<!--<th></th>-->
				</tr>
				<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | limitTo:2 | filter:{nome: criterioDeBusca} | orderBy: criterioDeOrdenacao:direcaoDaOrdenacao">			
					<td><input type="checkbox" ng-model="contato.selecionado" /></td>		 
					<td>{{contato.nome}}</td>
					<td>{{contato.telefone}}</td>
					<td>{{contato.operadora.nome | lowercase}}</td>	
					<th>{{contato.data | date: 'dd/MM/yyyy HH:mm'}}</th>

					<!--<td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>-->	
					<!--
					<td ng-repeat="(key,value) in contato">
						{{value}}
					</td>
					-->
				</tr>	
			</table>
			<hr />
			<form name="contatoForm">
				<input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome" name="nome" ng-required="true" ng-minlength="10" />
				<input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone" name="telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/" />
				<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + '( ' + (operadora.preco | currency) + ' )' group by operadora.categoria for operadora in operadoras | orderBy: 'nome'">
					<option value="">Selecione uma operadora</option>
				</select>
			</form>
			<!--
			<div ng-messages="contatoForm.$error" class="alert alert-danger">
				<div ng-message="required">
					Por favor, preencha o nome!
				</div>
				<div ng-message="minlength">
					Por favor, preencha o nome com no mínimo 10 caracteres!
				</div>
			</div>-->
			<div ng-show="contatoForm.nome.$error.required && contatoForm.nome.dirty" class="alert alert-danger">
				Por favor, preencha o nome!
			</div>
			<div ng-show="contatoForm.nome.$error.minlength" class="alert alert-danger">
				O campo nome deve ter no mínimo 10 caracteres!
			</div>
			<div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.dirty" class="alert alert-danger">
				Por favor, preencha o telefone!
			</div>
			<div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
				O campo telefone deve ter o formato 99999-9999.
			</div>
			
			<button class="btn btn-primary btn-block" ng-disabled="contatoForm.$invalid" ng-click="adicionarContato(contato)">Adicionar Contato</button>
			<button class="btn btn-danger btn-block" ng-show="isContatoSelecionado(contatos)" ng-click="apagarContatos(contatos)">Apagar Contato</button>
		</div>
		<div ng-include="'footer.html'"></div>
	</body>
</html>